.header {
  width: 100%;
  height: 128px;
  background: #fffff1;
  border-bottom: 1px solid #dddddd;
}

.headerContainer {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-top: 30px;
  gap: 350px; 
}

.navigation {
  display: flex;
  align-items: center;
  margin: 0 auto; 
  gap: 32px;
}
 
.navItem {
  color: #424436;
  text-decoration: none;
  font-family: 'Monserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 130%;  
  letter-spacing: 0px;
}

.navItem:hover {
  color: #424436;
  transform: translate(-1px);
}

.cartButton {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
 
}

.cartIcon {
  width: 24px;
  height: 24px;
  display: block;

}

.cartCount {
  position: absolute;
  top: 0;
  right: 0;
  background: #92A134;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}























