.discountSection {
 padding: 0 40px; 
  margin: 80px 0;
}
.discountHeader {
 background: linear-gradient(80.46deg, #87933D -0.68%, #55610B 66.66%);

 
}

.title {
  padding: 32px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 700 bold;
  font-size: 64px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discountContent {
  display: flex;
  align-items: center;
  gap: 32px; 
}


.image {
  width: 602px;
  height: 360px;
  padding: 32px;
  padding-bottom: 0;
  gap: 32px;
}

  .discountForm { 
  display: flex;
  flex-direction: column;
  gap: 16px; 
  width: 100%; 
  padding-right: 32px; 
 }  

.input {
  width: 100%;
  height: 58px;
  border: 1px solid #fffff1;
  border-radius: 6px;
  background-color: transparent; 
  color: #fffff1;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  /* transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center; */
 
}

.input::placeholder {
 font-family: Montserrat, sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 20px; 
color: #ffffff;

}

/* .input:focus {
  outline: none;
  border-color: #fffff1;
} */

.submitBtn { 
  width: 100%;
  height: 58px;
  border: 1px solid #fffff1;
  border-radius: 6px; 
  background-color: #fffff1;
  color: #424436;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  display: flex;
  align-items: center;
  justify-content: center; 
}

.submitBtn:hover {
  background-color: #fffff1;
} 

